@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
  --destaque-1: #0077ff46;
  --destaque-2:#449bff;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
  background-color: var(--destaque-1);
  color: var(--texto);
}

header {
  background-image: linear-gradient(to bottom, var(--destaque-inverso), var(--destaque));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header > h1 {
  color: white;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  color: white;
  max-width: 600px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  padding-bottom: 50px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
  background-color: var(--destaque);
  padding: 12px;
}

nav > a {
  color: var(--destaque-inverso);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: .5s;
}

nav a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h2 {
  color: var(--destaque-2);
  text-align: center;
  padding: 10px;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 1.7em;
}

main > img {
  max-width: 350px;
  display: block;
  margin: auto;
}